div,form,h1,h2,h3,h4,h5,h6,li,p,ul {
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 18px;
    font-weight: 300;
    font-family: "Noto Sans TC",sans-serif;
    background: url('../img/pattern.jpg') center center;
}

h1 {
    font-weight: 300;
    margin-top: 80px;
    font-size: 120%;
    letter-spacing: 6px;
}

h2 {
    font-size: 200%;
    letter-spacing: 4px;
    font-weight: 400;
}

h1:after {
    display: block;
    background-color: #e03d44;
    content: "";
    height: 2px;
    width: 50px;
    margin-top: 15px;
}

.text-box {
    color: #fff;
    position: absolute;
    transform: translate(10%, 110%);
}


.btn:link {
    margin-top: 20px;
    font-weight: 100;
    border-radius: 8px;
    transition: background-color 0.4s;
}


.btn-full:link,
.btn-full:visited {
    background-color: #e03d44;
    color: #fff;
}


.btn-full:hover {
    background-color: rgba(224, 61, 68, 0.86);
}


/*--HEADER---*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),url(img/Restaurant_resized.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*---about-us----*/


.about-us {
    height: 35vh;
}


